.acesso-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  .content-container {
      margin-top: -990px; 
      margin-left: 250px;
  }
  
  .acesso-content {
    text-align: center; 
  }
  