.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #6E7D88;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
}

.menu-item {
  margin-bottom: 10px;
}

.menu-item button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ddd;
  color: black;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Alata', sans-serif; 
  font-size: 16px; 
}

.menu-item button:hover, .menu-item button.active {
  background-color: #bbb;
  color: white;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button img.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.special-container {
  margin-top: 100px;
}
