.usuarioid-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  .content-container {
      margin-top: -990px; 
      margin-left: 250px;
  }
  
  .usuarioid-content {
    text-align: center; 
  }
  
  .usuarioid-message {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .usuarioid-message::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 52%; 
    transform: translateX(-50%); 
    width: 96%; 
    height: 1px; 
    background-color: #000;
  }
  
  p {
    line-height: 1.6; 
    margin-bottom: 10px; 
    color: #333; 
    font-size: 1.1em; 
}

  .edit-button {
    display: inline-block;
    margin-top: 40px;
    padding: 14px 30px;
    background-color: #B7E686;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
  }

  .edit-button:hover {
    background-color: #0056b3;
  }
